body
{
  color: white;
  background-image:url("https://cdn.wallpapersafari.com/14/44/uUitWc.jpg");
  display:inline-block;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emojiname ,#emojiname2
{
  color: black;
  font-size:40px;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
#prediction {
  color:black;
}
#webcam_view, #snapshot-label {
  color:black;
}
#first_label{
  color:black'
}